.App {
    background-color: #ccc;
    min-height: 100vh;
    padding-bottom: 100px;
}

.discTable {
    min-width: 350px;
    width: 60vw;
    background-color: transparent;
}

.overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #88888888;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
    border-radius: 5px;
}

.loader {
    background-image: url('./images/loader.gif');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}